<div>
<div>Analysis Data</div>
<div>
    <span>{{'Select App' | translate:languageid}}</span>
    <mat-form-field appearance="fill">
        <mat-label>{{'Select App' | translate:languageid}}</mat-label>
        <mat-select [(ngModel)]="appIndex">
          <mat-option *ngFor="let item of apps; let i = index" [value]="i">
            {{ item | translate:languageid}}
          </mat-option>
        </mat-select>
      </mat-form-field>
          <!-- <button mat-button [matMenuTriggerFor]="menu">{{ apps[appIndex] | translate:languageid}}<mat-icon>keyboard_arrow_down</mat-icon> </button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let item of apps; let i = index" (click)="appIndex=i">{{ item | translate:languageid}}</button>
    </mat-menu> -->
</div>
<div>
    <span>{{'Select Time' | translate:languageid}}</span>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input 
            [formGroup]="range"
            [rangePicker]="picker"
            >
          <input matStartDate placeholder="Start date" formControlName="start">
          <input matEndDate placeholder="End date" formControlName="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field></div> -->
</div>

