<div style="padding:20px 0 0 20px;">
    <br/>
    <h4>{{ "IOS technical support" | translate:languageid }}</h4>
    
    <p>{{ "Dear users" | translate:languageid }}</p>
    <p>{{ "If you encounter any problems when using our products, please feel free to contact us and we will try our best to solve them for you" | translate:languageid }}!</p>
    <p>{{ "Please contact us by email, we will serve you 24 hours" | translate:languageid }}!</p>
    <p>{{ "Email" | translate:languageid }}：<a href=mailto:lxm.yrr@gmail.com>lxm.yrr@gmail.com</a><p>
    <p>{{ "Thank you" | translate:languageid }}!</p>
</div>
    