<!-- 注册框 -->

<!-- 注册框头部 -->
<h4 mat-dialog-title>{{rs.model.title | translate:languageid}}</h4>

<!-- 注册框主体 -->
<mat-dialog-content [formGroup]="fromLogin">
  <mat-form-field appearance="fill">
    <mat-icon matPrefix [style.color]="rs.model.color[0]">account_box</mat-icon>
    <mat-label>{{'Account' | translate:languageid}}</mat-label>
    <input matInput formControlName="account" placeholder="{{'Account' | translate:languageid}}" [(ngModel)]="rs.model.data[0]" (blur)="rs.validateInput(0)">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-icon matPrefix [style.color]="rs.model.color[1]">password</mat-icon>
    <mat-label>{{'Password' | translate:languageid}}</mat-label>
    <input matInput formControlName="password" placeholder="******" [(ngModel)]="rs.model.data[1]" (blur)="rs.validateInput(1)"  (ngModelChange)="rs.checkpass()">
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="rs.model.active[2]>=0">
    <mat-icon matPrefix [style.color]="rs.model.color[2]">password</mat-icon>
    <mat-label>{{'Repassword' | translate:languageid}}</mat-label>
    <input matInput formControlName="repassword" placeholder="******" [(ngModel)]="rs.model.data[2]" (blur)="rs.validateInput(2)" (ngModelChange)="rs.checkpass()">
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="rs.model.active[2]>=0">
    <mat-icon matPrefix [style.color]="rs.model.color[3]">email</mat-icon>
    <mat-label>{{'Email' | translate:languageid}}</mat-label>
    <input matInput formControlName="email" placeholder="xyz@163.com" [(ngModel)]="rs.model.data[3]" (blur)="rs.validateInput(3)">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-icon matPrefix [style.color]="rs.model.color[4]">verify</mat-icon>
    <mat-label>{{'Verify Code' | translate:languageid}}</mat-label>
    <input matInput formControlName="verifycode" placeholder="1234" [(ngModel)]="rs.model.data[4]" (blur)="rs.validateInput(4)">
    <img src="{{cv.rootUrl}}{{rs.urlValidate}}" matSuffix style="border:#CCCCCC 1px solid; cursor:pointer;" alt='{{"Click get another pin" | translate:languageid}}' width="50" height="20" (click)="rs.resetValidate(1)"/>
  </mat-form-field>
</mat-dialog-content>

<!-- 注册框底部 -->
<mat-dialog-actions>
  <button mat-button mat-dialog-close=""[disabled]="!rs.enregister" (click)="logon()">{{"Submit" | translate:languageid}}</button>
  <button mat-button mat-dialog-close>{{"Cancel" | translate:languageid}}</button>
  <button mat-link *ngIf="rs.model.type===1" (click)="hide()">{{"Forget Password" | translate:languageid}}</button>
</mat-dialog-actions>

<!-- <div class="modal fade" id="logonModal">
    <div class="modal-dialog">
      <div class="modal-content">
   
        <div class="modal-header">
          <h4 class="modal-title">{{rs.model.title | translate:languageid}}</h4>
          <button type="button" #logonButton class="close" data-dismiss="modal">&times;</button>
        </div>
   
        <div class="modal-body">
          <form id='fmUserRegister' class="login-form" >
                      <div class="form-group">
                          <div class="col-sm-10 username">
                              <input type="text" class="form-control" #formLogon [(ngModel)]="rs.model.data[0]" name='username' required placeholder="emma.watson@gmail.com" (blur)="rs.validateInput(0)" data-toggle="tooltip" data-placement="right" title="{{rs.model.info[0] | translate:languageid}}"/>
                <span class="fa fa-user" [style.color]="rs.model.color[0]"></span>
                          </div>
                      </div>
                      <div class="form-group" *ngIf="rs.model.active[1]>=0">
                          <div class="col-sm-10 password">
                              <input type="password" class="form-control"  #formLogon [(ngModel)]="rs.model.data[1]" name='pwd' required placeholder="*******" (ngModelChange)="rs.checkpass()" (blur)="rs.validateInput(1)" data-toggle="tooltip" data-placement="right" title="{{rs.model.info[1] | translate:languageid}}"/>
                              <span class="fa fa-key" [style.color]="rs.model.color[1]"></span>
                          </div>
                      </div>
                      <div class="form-group" *ngIf="rs.model.active[2]>=0">
                          <div class="col-sm-10 password">
                            <div class="password-strength">
                              <span [style.background-color]="rs.pwdColor" [style.width]="rs.pwdWidth">{{rs.pwdInfo}}</span>
                            </div>
                          </div>
                      </div>
                      <div class="form-group" *ngIf="rs.model.active[2]>=0">
                          <div class="col-sm-10 password">
                              <input type="password" class="form-control" #formLogon [(ngModel)]="rs.model.data[2]" name='repwd' required placeholder="*******" (blur)="rs.validateInput(2)" data-toggle="tooltip" data-placement="right" title="{{rs.model.info[2] | translate:languageid}}"/>
                              <span class="fa fa-key" [style.color]="rs.model.color[2]"></span>
                          </div>
                      </div>
                      <div class="form-group" *ngIf="rs.model.active[3]>=0">
                          <div class="col-sm-10 email">
                              <input type="email" class="form-control" #formLogon [(ngModel)]="rs.model.data[3]" name='email' required placeholder="xyz@163.com" (blur)="rs.validateInput(3)" data-toggle="tooltip" data-placement="right" title="{{rs.model.info[3] | translate:languageid}}"/>
                              <span class="fa fa-envelope" [style.color]="rs.model.color[3]"></span>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-10 verification">
                              <input type="text" class="form-control" #formLogon [(ngModel)]="rs.model.data[4]" name="code" required placeholder="1234" (blur)="rs.validateInput(4)" data-toggle="tooltip" data-placement="right" title="{{rs.model.info[4] | translate:languageid}}"/>
                              <img src="{{rs.urlValidate}}" align='absmiddle' style="border:#CCCCCC 1px solid; cursor:pointer;" alt='{{"Click get another pin" | translate:languageid}}' width="50" height="20" (click)="rs.resetValidate(formLogon)"/>	
                          </div>
                      </div>
            
          </form>
        </div>
   
        <div class="modal-footer">
              <button type="submit" #logonButton class="btn btn-primary" [disabled]="!rs.enregister" (click)="logon()">{{"Submit" | translate:languageid}}</button>
              <button type="button" #logonButton class="btn btn-secondary" data-dismiss="modal">{{"Cancel" | translate:languageid}}</button>
              <button type="button" class="btn btn-link" *ngIf="rs.model.type===1" (click)="hide()">{{"Forget Password" | translate:languageid}}</button>
            </div>
   
      </div>
    </div>
  </div>
   -->